{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}



    <h1>Limerick</h1>

    <p>there once was a man from Kildare, who went to the
        North county fair …</p>


{% endblock %}
