{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}



    <h1>subtraction</h1>

    <p>
        {{ word1 }} - {{ word2 }} = {{ word3 }}

    </p>


{% endblock %}
